@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

.skillContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 200px 0;
}
.skillContainer__text{
    color: white;
    flex: 0.6;
    text-align: left;
    max-width: 500px;
    margin-bottom: 20px;
}
.skillContainer__text > h1{
font-size: 30px;
}
.skillContainer__image{
    flex: 0.4;
    text-align: center;
    margin-right: 100px;
}
.skillContainer__image > img{
    max-width: 600px;
    object-fit: contain;
    border-radius: 2px;
}
.skillContainer__skillset > h5{

    font-family: "Montserrat", sans-serif;
    font-weight: 300;   
    padding-top: 30px;
    padding-bottom: 10px;
}
.skillContainer__slider > .MuiLinearProgress-colorPrimary{
background-color: red;
}
.skillContainer__slider1 > div > .css-1fzpv8o-JoyLinearProgress-root::before{
    background-color: rgb(71, 255, 154);
}